.input-container {
    display: flex;
    flex-direction: column;

    label {
        margin-bottom: 4px;
    }

    .required-indicator {
        color: red;
    }

    input {
        padding: 8px 12px;

        &.rounded {
            border-radius: 8px;
        }
    }
}